.DS_Store
build
*.pbxuser
*.perspectivev3
*.mode1v3
*.xcuserstate
.svn
DerivedData
.git-revision
.git-version
*.xcbkptlist
*.xcscmblueprint
*.xcodeproj/xcuserdata
Pods
dsa_priv.pem
privkey.pem
*.iws
workspace.xml
tasks.xml
fastlane/README.md
fastlane/report*
fastlane/*_output